{% extends "base.html.twig" %}

{% block title 'Agence Lorem' %}

{% block body %}
	<div class="jumbotron text-center">
		<div class="container">

			<h1>Agence Lorem</h1>

			<p>Lorem ipsum</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam quod quis minima esse officia?
				Reiciendis at molestiae provident sint dicta, voluptatem cumque corporis minima vel similique 
				unde doloribus possimus doloremque.
			</p>
			
		</div>
	</div>
{% endblock %}

